<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>週間セキュリ<%= @report.deliver_date.strftime("%Y年 %m月 %d日") %>号</title>
  </head>
  <body>
    <h1>週間セキュリ<%= @report.deliver_date.strftime("%Y年 %m月 %d日") %>号</h1>
    <div>
      <p>お知らせ</p>
    </div>
    <div>
      <p>セキュリティ記事</p>
      <% @report.articles.each do |article| %>
        <article>
        <header>
        <h1><%= article.title %></h1>
        <p><time datetime="2011-12-13">2011-12-13</time></p>
        </header>

        <p>HTML5になって新しく定義された新要素（タグ）が多くあります。今回は前回の使い方が変更になった要素の続きとして、・・・</p>
        <p><a href="#">続きを見る</a></p>

        <footer>
        <p>カテゴリ：<a href="#">HTML5でサイトをつくろう</a></p>
        </footer>
        </article>
      <% end %>
    </div>
  </body>
</html>