<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>週間セキュリ<%= @report.deliver_date.strftime("%Y年 %m月 %d日") %>号</title>
  </head>
  <body>
    <h1>週間セキュリ<%= @report.deliver_date.strftime("%Y年 %m月 %d日") %>号</h1>
    <div>
      <p>お知らせ</p>
    </div>
    <div>
      <p>セキュリティ記事</p>
      <% @report.articles.each do |article| %>
        <article>
        <header>
        <h1><%= article.title %></h1>
        </header>

        <p><a href="<%= article.url %><">記事を見る</a></p>

        </article>
      <% end %>
    </div>
  </body>
</html>